::-webkit-scrollbar {
  display: none;
}

#parentContainer {
  display: flex;
  margin-top: 5%;
  background-color: hsl(var(--background));
}

#displayDiv {
  height: 70vh;
  width: 30vw;
  background-color: hsl(var(--card));
  border: 5px solid hsl(var(--border));
}

#textDiv {
  height: 70vh;
  width: 70vw;
  border-radius: 10px;
  background-color: hsl(var(--background)); /* Use text bg color */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border: 5px solid hsl(var(--border));
}

#optionsDiv {
  justify-content: center;
  align-items: center;
  display: flex;
}

#optionsList {
  display: flex;
  font-family: 'Funnel Display', sans-serif;
  color: hsl(var(--foreground)); /* Text color */
  padding-left: 3%;
}

.fileButton {
  color: hsl(var(--foreground)); 
  padding: 10px 1%;
  opacity: 0.5;
  transition: opacity 0.2s;
  font-size: 0.8rem;
  animation: fade 2s;
}

.fileButton:hover {
  color: hsl(var(--foreground));
  opacity: 1;
  cursor: pointer;
}

#typingDiv {
  justify-content: center;
  align-items: space-between;
}

#typingSpace {
  width: 50%;
  height: 100%;
  max-width: 70vw;
  max-height: 64vh;
  position: absolute;
  background-color: transparent;
  font-family: 'Funnel Display', sans-serif;
  letter-spacing: 2px;
  padding: 10px 20px;
  outline: none;
  resize: none;
  color: hsl(var(--foreground));
  font-size: 1rem;
  animation: fade2 1s;
}

#typingSpace:focus {
  border: none;
  outline: none;
}

/* Markdown Preview */
#previewDiv {
  width: 50%;
  height: 100%;
  max-width: 70vw;
  max-height: 64vh;
  padding: 10px;
  background-color: hsl(var(--card));
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  overflow-y: scroll;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 50%;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
